*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', sans-serif;
}

iframe {

    flex: 1;
    width: auto;
    top: 0;
    scroll-behavior: smooth;
    border: solid pink;
              
}

#menu-toggle {

    display: none;
}

.menu{

    width: 200px;
    left: 0;
    bottom: 0;
    z-index: 100;
    transition: left 300ms;
    color: black;
    border: solid;
}



.side-menu button:hover {

    background: #B0B0B0;
    text-decoration: underline;
}

.side-menu  {

    display: block;
    padding: 1.8rem 0rem;
    text-align: center;
    font-size: 1.7rem;
    color: #899DC1;
    
}

iframe, footer{

    margin: 0;
    padding: 0;
}

.logo{

    width: 100px;
    height: 100px;
}

.user-pic{

    width: 60px;
    background-color: blueviolet;
    border-radius: 50%;
}

.menu{

    margin: 0;
    padding: 0;

}

#btn{

    
    width: 180px;
    height: 50px;
    cursor: pointer;
}

button{

    text-transform: capitalize;
}

.dashboard{

    display: flex;

}


iframe{

    height: 95vh;
    background-color: aqua;
}


.menu-item:hover{

    transform: translateY(-4px);
    transition: 0.3s;
    cursor: pointer;

}


@media only screen and (min-width: 480px) {

    .logo-content{

        display: flex;
        
    }

    .logo-img, .header-icons{

        margin-right: 3rem;

    }

    .header-icons{

        margin-top: 2.5rem;
    }

    #menu-item1, #menu-item2, #menu-item3{

        margin-left: 5px;

    }

   

    

}

@media only screen and (max-width: 800px){

    .logo-content{

        display: flex;
        
    }

    .logo-img, .header-icons{

        margin-right: 3rem;

    }

    .header-icons{

        margin-top: 0.8rem;
    }

    #menu-item1, #menu-item2, #menu-item3{

        margin-top: 5px;

    }

    

    
}

