@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url('../css/clash-display.css');

:root {
    --c-dark: #212529;
    --c-brand: green;
    --c-brand-light: #6970dd;
    --c-brand-rgb: 78, 87, 212;
    --c-body: #727272;
    --font--base: "ClashDisplay", sans-serif;
    --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --transition: all 0.5s ease;

}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font--base);
    line-height: 1.7;
    color: var(--c-body);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: 600;
    color: var(--c-dark);
}

a {
    text-decoration: none;
    color: var(--c-brand);
    transition: var(--transition);
}

a:hover {
    color: var(--c-brand-light);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.section-padding {
    padding-top: 140px;
    padding-bottom: 140px;
}

/* nav bar */
.navbar {
    background: white;
    box-shadow: var(--box-shadow);
}

.navbar-nav .nav-link {
    font-weight: 600;
    color: var(--c-dark);
}

.navbar-nav .nav-link.active {
    color: var(--c-brand);
}

/* sign in nav link and header btn */
#sign-in-btn,
#sign-in-btn-hero {
    background-color: var(--c-brand);
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 10px 24px;
    text-decoration: none;
}

#sign-in-btn:hover,
#sign-in-btn-hero:hover {
    background-color: var(--c-brand-light);
    border-color: var(--c-brand-light);
}

/* hero section */
#hero {
    background: linear-gradient(rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.438)), url(../Images/Academics_home.jpg);
    background-position: center;
    background-size: cover;
}

/* about us section */
h1 span {
    color: var(--c-brand);
}

/* section title */
.section-title {
    margin-bottom: 60px;
}

.section-title .line {
    width: 60px;
    height: 4px;
    background-color: var(--c-brand);
    margin: 16px auto 24px auto;
}

.section-title p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.iconbox {
    width: 80px;
    height: 80px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: linear-gradient(rgba(var(--c-brand-rgb), 0.1));
    color: var(--c-brand);
    font-size: 50px;
    flex: none;
}

/* services section */
.theme-shadow {
    box-shadow: var(--box-shadow);
    border-radius: 10px;
}

.service {
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.service::after {
    content: "";
    width: 40px;
    height: 40px;
    background: greenyellow;
    position: absolute;
    bottom: 0;
    right: 0;
    border-top-left-radius: 10px;
    transition: var(--transition);
}

.service:hover::after {
    width: 100%;
    height: 100%;
    background: var(--c-brand);
    z-index: -1;
}

.service:hover h5,
.service:hover p {
    color: white;
}

.service:hover .iconbox {
    background-color: rgba(255, 255, 14, 0.19);
    color: white;
}

/* contact us section */
form textarea {
    resize: none;
}

#contact {
    position: relative;
    z-index: 2;
}

#contact::after {
    content: "";
    width: 100%;
    height: 70%;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(var(--c-brand-rgb), 0.8)), url(../Images/pexels-fauxels-3183150.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#contact .form-control {
    border-radius: 2px;
}

#contact .form-control:focus {
    box-shadow: none;
    border-color: var(--c-brand);
}

.did-floating-label-content {
    position: relative;
    margin-bottom:20px;
}


.did-floating-label {
    color: #1e4c82;
    font-size: 15px;
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 15%;
    padding: 0 5px;
    background: #fff;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.did-floating-input {
    font-size: 12px;
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    background: #fff;
    color: #323840;
    border: 1px solid #3d85d8;
    border-radius: 4px;
    box-sizing: border-box;

    &:focus {
        outline: none;

        ~.did-floating-label {
            top: -12px;
            font-size: 13px;
        }
    }
}

.did-floating-textarea {
    font-size: 12px;
    display: block;
    background: #fff;
    padding: 0 40px;
    color: #323840;
    border: 1px solid #3d85d8;
    border-radius: 4px;
    box-sizing: border-box;

    &:focus {
        outline: none;

        ~.did-floating-label {
            top: -12px;
            font-size: 13px;
        }
    }
}

textarea {
  grid-column: 1 / -1;
}

.did-floating-input:not(:placeholder-shown) ~ .did-floating-label {
  top:-12px;
  font-size:13px;
}

.did-floating-textarea:not(:placeholder-shown) ~ .did-floating-label {
  top:-12px;
  font-size:13px;
}

/* footer section */
footer{
    padding-top: 120px;
}

.footer-top{
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.footer-bottom{
    padding-top: 40px;
    padding-bottom: 40px;
}

footer ul, footer p, footer a{
    color: rgba(255, 255, 255, 0.7);
}

footer a{
    text-decoration: none;
}

footer ul{
    list-style: none;
    padding: 0;
}

footer .line{
    width: 40px;
    height: 4px;
    background-color: var(--c-brand);
    margin-top: 12px;
    margin-bottom: 24px;
}

.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 100px;
    text-decoration: none;
}

.social-icon a:hover{
    background-color: var(--c-brand);
    color: white;

}

footer i{
    color: green;
}

footer .fa{
    font-size: 30px;
}

.contact-icon a {
    margin-left: 18px;
}

footer .devs p{
    color: green;
}